body {
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#fredbot {
  margin-top: 50px;
}

#face {
  background-color: navy;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 100px;
  position: relative;
}

.eye {
  width: 10px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 60px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

.mouth {
  width: 60px;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: 50px;
  left: 70px;
  border-radius: 10px;
}

/* Expressions */

.neutral .mouth {
  border-radius: 10px;
}

.smiling .mouth {
  height: 30px;
  border-radius: 0 0 30px 30px;
}

.laughing .mouth {
  height: 40px;
  width: 80px;
  background-color: white;
  border-radius: 0 0 40px 40px;
  bottom: 40px;
  left: 60px;
}

.crying .mouth {
  height: 10px;
  border-radius: 50%;
  background-color: lightblue;
}

.sneering .mouth {
  transform: rotate(-20deg);
  background-color: white;
}

.scared .mouth {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  bottom: 60px;
  left: 85px;
}

